In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = "C:/Users/yasht/OneDrive/Desktop/Stratascratch/Partner Business Modeling/dataset_2.csv"

In [ ]:
df = pd.read_csv(data)

In [ ]:
df['Accept Rate'] = df['Accept Rate'].str.replace('%', "")
df['Accept Rate'] = pd.to_numeric(df['Accept Rate'])

Option 1: $50 for each driver that is online at least 8 hours, accepts 90% of requests, completes 10 trips, and has a rating of 4.7 or better during the time frame;

Option 2: $4/trip for all drivers who complete 12 trips, and have a 4.7 or better rating.

In [ ]:
result_1 = df.query("`Supply Hours` >= 8 and Rating >= 4.7 and `Trips Completed` >= 10 and `Accept Rate` >= 90")

In [29]:
result_1

          Name  Trips Completed  Accept Rate  Supply Hours  Rating
11       Byron               15          100            10     4.9
12     Carlota               14          100             8     5.0
19    Dannette               14          100             9     4.9
23   Demetrius               14          100             9     5.0
26      Dimple               15          100            10     4.9
32        Emil               12          100             9     5.0
37       Garth               15          100            10     5.0
40        Hanh               14           94             9     4.9
53      Keshia               20          100            11     4.8
57     Latonia               13          100             9     5.0
68      Luanne               12           96            11     4.9
69     Lyndsey               13           94            11     4.9
70     Lynwood               21           95            10     5.0
75         Man               23          100            10     5.0
76      Marica               16           90            10     5.0
84     Natalie               16           94             8     4.9
88        Oren               11           91             9     4.8
92     Phyllis               10           90             8     4.8
95    Salvador               15          100            11     4.8
98     Shandra               14          100             8     4.9
113     Vashti               12           92            11     4.9

In [ ]:
opt_1 = 50

In [ ]:
opt_1_driver = len(result_1)

How much would the total bonus payout be with Option 1?

In [ ]:
print("Total",opt_1_driver, "qualifys for option 1 incentive for the final payout of",opt_1_driver*opt_1 )

Option 2: $4/trip for all drivers who complete 12 trips, and have a 4.7 or better rating.

In [ ]:
result_2 = df.query("Rating >= 4.7 and `Trips Completed` >= 12")

In [ ]:
result_2

In [ ]:
opt_2_driver = len(result_2)

In [ ]:
result_2['Incentive'] = result_2['Trips Completed'] * 4

In [ ]:
result_2

In [ ]:
total_sum = result_2['Incentive'].sum()

In [ ]:
print("Total",opt_2_driver, "qualifys for option 2 incentive for the final payout of",total_sum )

In [ ]:
df_all = result_1.merge(result_2, on = result_1.columns.to_list(), how = 'left', indicator= True)

In [ ]:
df_all

In [ ]:
result_3 = df_all[df_all["_merge"] == 'left_only']

In [ ]:
len(result_3)

What percentages of drivers online completed less than 10 trips, had an acceptance rate of less than 90%, and had a rating of 4.7 or higher?

In [44]:
result_4 = df.query("`Trips Completed` < 10 and `Accept Rate` < 90 and Rating >= 4.7")

In [48]:
precent_online = round((len(result_4) / len(df)) *100,2)

In [52]:
print(str(precent_online)+"%")

10.92%

In [35]:
fares_Per_Day = 200
tot_Weeks = 52
off_Weeks = 3
work_day_per_week = 6
gas_Week = 200
insur_Month = 400
rent_Week = 500

In [4]:
gas_Expense = 1.05
insur_Expense = 0.80

When not partnering with Uber

In [52]:
total_exp = (gas_Week + rent_Week) * (tot_Weeks - off_Weeks) + insur_Month * 12
print('$' + str(total_exp))

$39100

In [53]:
total_revenue = (tot_Weeks - off_Weeks) * work_day_per_week * fares_Per_Day
print('$' + str(total_revenue))

$58800

In [70]:
profit_margin = ((total_revenue - total_exp) / total_revenue )
print(str(round((profit_margin*100),2)) + '%')

33.5%

When Partnering with Uber

In [71]:
gas_per_week = gas_Week * 1.05
insurance_per_month = insur_Month * 0.80
new_car = 40000

In [72]:
new_tot_expense = new_car + (gas_per_week * (tot_Weeks - off_Weeks)) + insurance_per_month * 12
print('$'+str(new_tot_expense))

$54130.0

In [73]:
new_profit_margin = (total_revenue - new_tot_expense) / (total_revenue)
print(str(round(new_profit_margin*100 ,2)) + '%')

7.94%

In [74]:
fare_increase = total_revenue * ((profit_margin - new_profit_margin) / (tot_Weeks - off_Weeks))

In [76]:
print('$' + str(round(fare_increase,2)))

$306.73